*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-size: 20px;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Source+Sans+Pro:wght@300&display=swap');

[v-cloak] {
    display: none;
}

:root{
--colordark:#03191e;
--colordetails2:#477890;
--colorligth:#ffffff;
--colorligth2:#f6f7eb;
--colorafirmative:#52b788;
--colornegative:#e76f51;
--colordetails1:#909cc2;
--font1:'Poppins';
--font2: 'Source Sans Pro';
}
/*-------------------body------------------------*/
body{
    background:var(--colorligth2);
}

/*-------------------header------------------------*/

/*
header{
max-width: 100%;
}
header h1{
    font-family: var(--font1);
    color:var(--color2);
    font-weight: 600;
}
.title{
    text-align: center;
}
header p{
    font-family: var(--font2);
    font-size: 0.8rem;
    color:var(--color8);
    font-weight:600;
}
.cta{
    font-family: var(--font2);
    font-size: 0.8rem;
}
.carousel{
    margin-top: 1rem;
}
.slide{
    width: 100%;
}
/*-------------------nav------------------------*/

nav{
    background-color: var(--colorligth)!important;
    display: flex!important;
    border-bottom: 1px solid var(--colordark);
   
}
/*
.navbar__img{
    height: 3rem;
    background-image: url(../assets/logopetshop.png);
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
}
.nav-link{
    font-family: var(--font1)!important;
    color:var(--color8)!important;
}

.nav-link:hover{
    color:var(--color6)!important;
}

.bi-cart:hover{
    padding: 0.5rem;
    border-radius: 10px;
 border:2px var(--color6) solid;
}

/*-------------------main------------------------*/
main{
    min-height: 60vh;
   
}

.contacto__img{
    width:40%;
}

.inicio{
    display: flex;
    align-items: center;
    margin:0.5rem;
    padding-top: 1rem;
    justify-content: space-evenly;
    background: var(--colorligth);
    
}
.inicio__img{
width: 30%;
margin:0.5rem;
}
.inicio__textos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.media__about{
    height:20%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0.5rem;
    padding:0.3rem;
    background: var(--colorligth);
}
.list-features{
    display: flex;
    gap: 0.1rem;
    flex-direction: column;
    align-items: center;
}
.media-body{
    display: flex;
    align-items: center;
}
.media-body a{
    text-decoration: none;

}
.media-left{
    margin: 0.5rem;
}
.media__img{
    font-size:2rem;
    padding-right: 0.5rem;
    margin-bottom: 2rem;
}

.media__items{
    display: flex;
}
.media__items{
    display: flex;
}
.marca{
    width: 20%;

}
.marcas__about{
    display: flex;
    margin-top: 0.5rem;
    flex-direction: column;
    text-align: center;
    padding: 1rem;
    background: var(--colorligth);
}
.marca__items{
    gap: 1rem;
    display: flex;
    
    justify-content: space-evenly;
    padding: 1rem;
}

.doctors{
    margin:1rem;
    background:var(--colorligth2);
    padding:1rem;
}

.doctors__container{
display: flex;
gap: 0.5rem;
justify-content: center;
}
.card{
    width: 16rem!important;
    height: 26rem !important;
    background: var(--colorligth)
}
.card-body{
    height: 14rem;
}
.card-body h5{
    font-family: var(--font1);
    padding:0.2rem;
    font-weight: 400;
    color: var(--colordark);
}
.card-text{
    font-family: var(--font2);  
    color:var(--colordark);  
    font-weight: 200;
    font-size: 0.8rem;
}
.card__img1{
    border-radius: 10px 10px 0px 0px;
    height: 12rem;
    background-image: url(../assets/vete1.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}
.card__img2{
    border-radius: 10px 10px 0px 0px;
    height: 12rem;
    background-image: url(../assets/vete2.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}
.card__img3{
    border-radius: 10px 10px 0px 0px;
    height: 12rem;
    background-image: url(../assets/vete3.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}
.card__img4{
    border-radius: 10px 10px 0px 0px;
    height: 12rem;
    background-image: url(../assets/vete4.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}
.ubicacion{
    margin:0.5rem;
    display: flex;
    justify-content: space-evenly;
    padding: 1.5rem;
    align-items: center;    
}
.ubicacion_text{
    padding:1rem;
}
.ubicacion_text > p{
    font-family: var(--font2);
    font-size: 0.8rem;
    color:var(--colordark)
}

iframe{
    width: 30rem;
    height: 15rem;
    border-radius: 2rem;
    border: 1px solid var(--colordetails1);
}
/*-------------------modal---------------------------*/
/*.modal__text{
    flex-direction: column;
}
.modal-backdrop{
    height: 100%;
}
.modal-content{
    padding: 1rem;
    align-items: center;
}
  /*-------------------fin modal---------------------------*/

  /*-------------------prueba nav effect---------------------------*/
.navbar{
    padding: 1rem;
}

  .nav-link{
    
        position: relative;
        text-decoration: none;
        font-family: "Poppins", sans-serif;
        color: #a0a0a0;
        font-size: 18px;
        letter-spacing: 0.5px;
        padding: 0 10px;
      
  }
  .nav-link:before,
  .nav-link:after {
  content: "";
  position: absolute!important;
  height: 3px!important;
  width: 0!important;
  background-color: var(--colordetails2)!important;
  transition: 0.5s!important;
}
.nav-link:after {
  left: 0!important;
  bottom: -10px!important;
}
.nav-link:before {
  right: 0!important;
  top: -10px!important;
}
.nav-link:hover {
  color: #3a0e0e!important;
}
.nav-link:hover:after,
.nav-link:hover:before {
  width: 100%!important;
}
/*------------------- cartas ------------------------*/
/*.card-art{
    width: 13rem;
    min-height: 15rem;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 5px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    transition: .4s;
}
.img-articulo-container{
    background-color: white;
    border-radius: 10px 10px 0px 0px;
    height: 10rem;
}
.img-art{    
    border-radius: 1rem;
    width: 100%;
    height: auto;
    object-fit: contain;
}
.card-body{
    padding: .5rem;
    height: 8rem;
    
}
.card-title{
    font-size: 1rem;
}
.btn-carrito{
    padding: 5px 10px;
    border-bottom: solid 1px black;
    transition: .3s;
}

.btn-carrito:hover{
    background-color: var(--color6);
    border: none;
}
.btn-carrito a:hover{
    color: white;
}
.card-art:hover{
    transform: scale(1.05);
}
/*-------------------- farmacia - juguetes -------------------------- */
/*.filter .dropdown-menu{
    border: solid 1px var(--color2);
 }
 .buscador{
     width: 20rem;
 }
 .buscador input{
     background-color: #ffffff7e;
     border: none;
 }
 
 .container-jyf{
     background-color: var(--color2);
 }
 .header-j, .header-j2{
     height: 45vh !important;
 }
 .header-j div,.header-j2 div{
     width: 45%;
     height: 100%;    
     font-family: var(--font2);
 }
 .header-j div{
     background-color: #b5cbdb;
 }
 .header-j2 div{
     background-color: #c4dbb5;
     
 }
 
 .header-j div h5, .header-j2 div h5 {
     font-size: 3rem;
     
 }
 
 .header-j div h5{
     text-shadow: var(--color5) -3px 1px 1px;
 }
 
 .header-j2 div h5{
     text-shadow: var(--color6) -3px 1px 1px;
 }
 .img-header-j{
     width: 100%;
     height: 100%;
 }
 .img-header-j .img, .img-header-j .img2{
     width: 100%;
     height: 100%;
     object-fit: cover;
 }
 .img-header-j .img{
     object-position: bottom;
 }
 
 .error-404{
     height: 70vh;
     width: 90%;
 }
 .error-404 div{
     width: 45%;
     height: 100%;
 }
 .error-404 div p{
     font-size: 2rem;
 }
 .error-404 div img{
     width: 90%;
 }


/*-------------------footer------------------------*/
footer{
    min-height: 8vh;
    background-color: var(--colorligth2);
    display: flex;
    align-items: flex-start;
        padding: 0.5rem;
        justify-content: space-evenly;
        border-top: 1px solid var(--colordetails2);
}
.footer__col1{
display: flex;
flex-direction: column;
text-align: center;

}
.footer__col2{
    display: flex;
flex-direction: column;
}
.footer__col3{
    display: flex;
flex-direction: column;
}
.footer__col4{
    display: flex;
flex-direction: column;
}
.developers{
    display: flex;
    flex-direction: column;
}
.footer__list{
    display: flex;
}
.footer__list__item{
    list-style-type: none;
}
/*
.footer__img{
    height: 2rem;
    background-image: url(../assets/logopetshop.png);
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
}

.footer__list__link{
    text-decoration: none;
}
li {list-style:none;}
.uil{
    font-size: 1.5rem;
    color:var(--color8)
}
.footertop{
    display:flex;
    width: 98vw;
}
.footer__left{
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
}
.footer__rigth{
    display: flex;
    width: 50%;
    flex-direction: column;
}

h3{
    color:var(--color2);
    font-family: var(--font1);
    font-weight: 600;
}
h6{
    text-align: center;
    color:var(--color8);
    font-family: var(--font1);
    font-weight: 600;
}

.text-copyright{
    font-family: var(--font2);
    font-size: 0.8rem;
    color:var(--color8);
}
.developers{
    display: flex;
    gap: 0.3rem;
    flex-wrap: wrap;
}

.btn__footer{
    text-decoration: none;
}


/*-------------------media querys------------------------*/










/*---------------------------------contact-----------------------*/

#headercontact {
    background-color: rgba(245, 245, 245, 0.8);
    border-radius: 3rem 3rem 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.input label {
    position: absolute;
    bottom: 0.1rem;
    font-size: 0.8rem;
    transition: all 0.3s ease;
    color: grey;
}

.input {
    position: relative;
}

#labeltext {
    position: absolute;
    bottom: 2rem;
    font-size: 0.8rem;
    transition: all 0.3s ease;
    color: grey;
}

select {

}

input[type= "text"], textarea, [type= "checkbox"] {
    padding: 0;
    position: relative;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid silver;
    outline: none;
 }

 input .input {
    
 }

 .input input:focus ~label, 
 .input input:valid ~label {
    transform: translateY(-1.6rem);
    font-size: 0.6rem;
    color: black;
 } 

 .input input:focus ~#labeltext, 
 .input input:valid ~#labeltext {
    transform: translateY(-1.2rem);
    font-size: 0.6rem;
    color: black;
 } 


#headercontact p {
    font-size: 15px;
}

#headercontact h3 {
    color: black;
    font-family: 'Poppins', sans-serif;
}


.btn-primary{
    color: black;
    background-color: #d6d690;
    outline: none;
    border: 0px;
     box-shadow: none;
     font-size: 0.8rem;
    border-radius: 5px;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active{
    background-color: #495056;
    outline: none !important;
    border: none !important;
     box-shadow: none;
}

#img__contact {
    width: 30%
}

h6 {
    font-weight: 300;
    transition-property: text-decoration;
    transition-duration: 0.8s;
    transition-timing-function: linear;
    transition-delay: 0.2s;
}

#conmov {
    position: relative;
    animation: mymove 2s forwards;
}

@keyframes mymove {
    from {top: 77px;}
    to {top: 200px;}
    from {opacity: 0%;}
    to {opacity: 100%;}
  }


/* modal prueba */