<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="./css/style.css">
    <title>Contacto</title>
</head>
<body>
  <div id="app">
    <header>
      <!-- NAV -->
            <nav class="navbar navbar-expand-lg ">
              <div class="container navbar__img"></div>
              <div class="container-fluid">
                <a class="navbar-brand" href="#"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                  aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav">
                    <li class="nav-item">
                      <a class="nav-link active fw-bold" aria-current="page" href="index.html">Inicio</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active fw-bold" aria-current="page" href="farmacia.html">Farmacia</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active fw-bold" aria-current="page" href="juguetes.html">Juguetes</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active fw-bold" aria-current="page" href="">Contacto</a>
                    </li>
                    <li class="nav-item">
                     
                       <!-- BOTONCITO DEL CARRITO QUE TE ABRE EL OFFCANVA -->
                <a class="btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
                  <i class="uil uil-shopping-cart"></i>
                </a>
                    </li>
                   </ul>
                </div>
              </div>
            </nav>
             
          </header>
    <main class="d-flex flex-column">
    
      <h3 class="mt-4 mb-4 w-100 text-center" id="conmov" style="font-weight: 600">Contáctenos</h3>
        <div class="d-flex w-100 text-start justify-content-around h-100 mb-3" id="headercontact " style="min-height: 60vh">
        <form @submit.prevent="enviarForm()" class="d-flex w-50" >
          <div class="w-100 d-flex flex-column align-items-start" id="conmovdos" style="opacity: 0%">
            <h6>Procesá tu solicitud online.</h6>
        <div class="form-group input w-100">
          <input type="text" class="form-control w-100 mt-4" id="exampleFormControlInput1" placeholder="" required>
          <label>Nombre y apellido</label>
        </div>
        <div class="form-group input w-100">
          <input type="text" class="form-control w-100 mt-4" id="exampleFormControlInput1" placeholder="" required>
          <label>Teléfono</label>
        </div>
        <div class="form-group w-100">
          <select class="form-control w-100 mt-4 p-0" id="exampleFormControlSelect1" required>
            <option selected disabled value="" style="color: 000;">Seleccione un animal:</option>
            <option>Culebra</option>
            <option>Gato</option>
            <option>Perro</option>
            <option>Buho</option>
          </select>
          <div class="form-group input w-100">
            <input type="text" class="form-control w-100 mt-4" id="exampleFormControlInput1" placeholder="" style="height: 3rem;" required>
            <label id="labeltext">Comentarios</label>
          </div>
              <div class="mt-3 w-100 d-flex">
                <button id="submit" type="submit" class="btn btn-primary">Enviar</button>
            </div>
        </div>
    </div>
        
      </form>
      <div class="w-25 d-flex flex-column" >
        <h6>Nos encontrás en:</h6>
  <p> Rio de Janeiro 300, Caballito,</p>
  <p> Ciudad Autónoma de Buenos Aires.</p>
  <h6> Teléfono:</h6>
  <p> 35 11 4567 6789</p>
  
  </div>
  
    </div>
    </main>

    <!-- ------ OFFCANVA CARRITO -------- -->
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
      <div class="offcanvas-header border-bottom">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">Detalle</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <div v-if="articulosCarrito.length==0" class="d-flex h-100 flex-column align-items-center justify-content-evenly">
          <p class="fw-bolder text-center" style="color: #477890;">Hola, tu carrito esta vacio <span style="font-size:1.3rem;">😔</span></p>
          <img src="assets/dog-paw-animate.svg" alt="">
        </div>
        <div v-else class="h-100">
         
              <div v-for="articulo in articulosCarrito">
                <div class="d-flex justify-content-between mb-1 border-bottom">
                  <img :src="articulo.imagen" style="height: 5rem" alt="{{articulo.nombre}}">
                  <div class="">
                    <div class="d-flex flex-row-reverse gap-1 ms-1">
                      <i class="uil uil-trash-alt" @click="eliminarCarrito(articulo)"></i>
                      <h6>{{articulo.nombre}}</h6>    
                      
                      
                    </div>
                    <div class="d-flex carrito-input gap-1 justify-content-evenly">
                     <p>${{articulo.precio}}</p>
                     <p>x</p>
                     <input type="number" min="1" max={{articulo.stock}} name="" id="">                   
                     
                    </div>
                  </div>
                </div>
              </div>
            
              <div class="d-flex p-2 justify-content-between">
                <p>Total</p>
                <p>${{totalCarrito}}</p>              </div>
              <div class="dropdown-divider"></div>
              <div class="d-grid gap-2">
               
                <a href="./detalle.html" class="btn btn-primary m-2" >Completar pedido</a>
              </div>
          
        </div>
      </div>
    </div>


    <div class="footer-clean">
      <footer>
          <div class="container">
              <div class="row justify-content-evenly text-start">
                <div class="col-sm-4 col-md-3 item">
                  <h3>¿Quiénes somos?</h3>
                  <h6>Somos unos capos que vendemos cositas para animalitos y los curamos pq son muy cute.</h6>
                  <p>Vení a conocernos!</p>
              </div>
                  <div class="col-sm-4 col-md-3 item">
                      <h3>Páginas amigas:</h3>
                      <ul class="d-flex justify-content-evenly">
                          <li><img src="./assets/bajoelsol.jpg" style="width: 3rem; border-radius: 6px;" alt="Refugio Bajo el sol"></li>
                          <li><img src="./assets/refugio1.jpeg" style="width: 3rem; border-radius: 6px;" alt="Refugio Bajo el sol"></li>
                          <li><img src="./assets/cuatropatas.jpeg" style="width: 3rem; border-radius: 6px;" alt="Refugio Bajo el sol"></li>
                      </ul>
                  </div>
                  <div class="col-sm-4 col-md-3 item">
                      <h3>Desarrollado por:</h3>
                      <ul>
                          <li><a href="#">Dalila Mistura<i class="icon ion-social-linkedin"></i></a></li>
                          <li><a href="#">Matías Quiroga<i class="icon ion-social-linkedin"></i></a></li>
                          <li><a href="#">Alejandro I. Godino<i class="icon ion-social-linkedin"></i></a></li>
                          <li><a href="#">Lucas L. Guaymas<i class="icon ion-social-linkedin"></i></a></li>
                      </ul>
                  </div>
                 
                  <div class="col-lg-3 item social d-flex justify-content-center"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a>

                  </div>
                  <p class="copyright text-end">© 2022 Madalu. Es una marca registrada.</p>
              </div>
          </div>
      </footer>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
  crossorigin="anonymous"></script>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./js/main.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </div>  
</body>
</html>