<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="./css/style.css">
  <title>Farmacia</title>
</head>

<body>
  <div id="app">
    <header>
      <!-- NAV -->
      <div v-cloak>
        {{pintarSuma}}
      </div>
      <nav class="navbar navbar-expand-lg ">
        <div class="container navbar__img"></div>
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link  fw-bold" aria-current="page" href="./index.html">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link  active fw-bold" aria-current="page" href="">Farmacia</a>
              </li>
              <li class="nav-item">
                <a class="nav-link  fw-bold" aria-current="page" href="./juguetes.html">Juguetes</a>
              </li>
              <li class="nav-item">
              <a class="nav-link  fw-bold" aria-current="page" href="./contacto.html">Contacto</a>
            </li>
            
          </ul>
        </div>
      </div>
      <a class="btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button"
                aria-controls="offcanvasExample">
                <i class="uil uil-shopping-cart"></i>
                <p>{{cantidadEProducto}}</p>
              </a>
    </nav>

    </header>

    <main>

      

      {{filtro}}

      <div class="d-flex justify-content-center gap-3 filter">
        <div class="btn-group">
          <button class="btn bg-dark text-white dropdown-toggle border-0" type="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Ordenar por:
          </button>
          <ul class="dropdown-menu">
            <li> <label for="Max">Mayor precio
                <input v-model="inputDrop" type="radio" id="Max" value="Max">
              </label></li>
            <li><label for="Min">Menor precio
                <input v-model="inputDrop" type="radio" id="Min" value="Min">
              </label></li>
          </ul>
        </div>


        <div class="d-flex justify-content-center buscador">
          <input v-model="textoBuscar" type="text" class="form-control text-center p-1"
            placeholder="Busca tus articulos preferidos">
        </div>
      </div>





      <div class="p-3 d-flex flex-wrap container-jyf justify-content-center align-items-center gap-3 mt-4 mb-4">

        <div v-if="articulos.length==0"
          class="error-404 d-flex justify-content-center align-content-center flex-row gap-2">
          <div class="d-flex align-items-center">
            <p class="text-center">No se encontraron elementos, por favor refina tu búsqueda</p>
          </div>
          <div>
            <img src="https://amazingeventsdalmimio.netlify.app/assets/img/404-error.svg" alt="error-404">
          </div>
        </div>

          <div v-for="articulo in articulos" class="">
           <div class=" d-flex justify-content-center flex-wrap gap-3">
            <div class="flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <div class="img_container">
                    <img :src="articulo.imagen" class="img-art" alt="{{articulo.nombre}}">
                  </div>                  
                  <div class="contenido__flip d-flex pt-1 flex-column align-items-center justify-content-around">
                    <h6 class="text-center text-dark fw-bold">{{articulo.nombre}}</h6>
                    <p class="card-text precio-art fw-bold">${{articulo.precio}}</p>
                  </div>
                  <img v-if="articulo.stock<=5" src="assets/ultimasunidades.png" style="width: 80px; position: relative; top: -350px; left: -90px; transform: rotate(-25deg);" alt="">
                </div>

                <div class="flip-card-back d-flex flex-column align-content-center justify-content-around">                 
                  <div class="contenido-back-card d-flex flex-column justify-content-between p-1">
                   <div class="contenido-arriba-card">
                    <h6 class="tittle__articulo fw-bold">{{articulo.nombre}}</h6>
                    
                    <p class="descripcion__articulo">{{articulo.descripcion}}</p>
                    <p class="descripcion__articulo fw-bolder">Stock: {{articulo.stock}} u.</p>
                    
                   </div>
                    <div class="d-flex justify-content-evenly align-content-center">
                      <p class="fw-bold m-0 d-flex">${{articulo.precio}}</p>
                      <button v-if="articulo.stock > 0" type="button" class="btn btn-carrito">
                        <a class="text-black"><i class="uil uil-shopping-cart" @click="agregarCarrito(articulo)"></i></a></button>
                        <button v-else type="button" class="btn btn-carrito" disabled> no hay ma
                          <!-- <a class="text-black"><i class="uil uil-shopping-cart"></i></a> -->
                        </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
    
    
          </div>
        </div>

      </div>
        
      <section class="header-j2 d-flex justify-content-center align-items-center">
        <div class="d-flex align-items-center justify-content-center">
          <h5 class="text-center">La mejor calidad, porque ellos lo valen</h5>
        </div>
        <div class="img-header-j">
          <img src="assets/perritouwu.jpg" class="img2" alt="perrito">
        </div>
      </section>


    </main>


    <!-- ------ OFFCANVA CARRITO -------- -->
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
      <div class="offcanvas-header border-bottom">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">Detalle</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <div v-if="articulosCarrito.length==0" class="d-flex h-100 flex-column align-items-center justify-content-evenly">
          <p class="fw-bolder text-center" style="color: #477890;">Hola, tu carrito esta vacio <span style="font-size:1.3rem;">😔</span></p>
          <img src="assets/dog-paw-animate.svg" alt="">
        </div>
        <div v-else class="h-100">
         
              <div v-for="articulo in articulosCarrito">
                <div class="d-flex justify-content-between mb-1 border-bottom">
                  <p>{{articulo.cant}}</p>
                  <img :src="articulo.imagen" style="height: 5rem" alt="{{articulo.nombre}}">
                  <div class="">
                    <div class="d-flex flex-row-reverse gap-1 ms-1">
                      <i class="uil uil-trash-alt" @click="eliminarCarrito(articulo)"></i>
                      
                      <h6>{{articulo.nombre}}</h6>    
                      
                      
                    </div>
                    <div class="d-flex carrito-input gap-1 justify-content-evenly">
                     <p>${{articulo.precio}}</p>
                                  
                     
                    </div>
                  </div>
                </div>
              </div>
            
              <div class="d-flex p-2 justify-content-between">
                <p>Total</p>
                <p>${{totalPrecio}}</p>              </div>
              <div class="dropdown-divider"></div>
              <div class="d-grid gap-2">
               
                <a href="./detalle.html" class="btn btn-primary m-2" >Completar pedido</a>
              </div>
          
        </div>
      </div>
    </div>
    <div class="footer-clean">
      <footer>
          <div class="container">
              <div class="row justify-content-evenly text-start">
                <div class="col-sm-4 col-md-3 item">
                  <h3>¿Quiénes somos?</h3>
                  <h6>Somos unos capos que vendemos cositas para animalitos y los curamos pq son muy cute.</h6>
                  <p>Vení a conocernos!</p>
              </div>
                  <div class="col-sm-4 col-md-3 item">
                      <h3>Páginas amigas:</h3>
                      <ul class="d-flex justify-content-evenly">
                          <li><img src="./assets/bajoelsol.jpg" style="width: 3rem; border-radius: 6px;" alt="Refugio Bajo el sol"></li>
                          <li><img src="./assets/refugio1.jpeg" style="width: 3rem; border-radius: 6px;" alt="Refugio Bajo el sol"></li>
                          <li><img src="./assets/cuatropatas.jpeg" style="width: 3rem; border-radius: 6px;" alt="Refugio Bajo el sol"></li>
                      </ul>
                  </div>
                  <div class="col-sm-4 col-md-3 item">
                      <h3>Desarrollado por:</h3>
                      <ul>
                          <li><a href="#">Dalila Mistura<i class="icon ion-social-linkedin"></i></a></li>
                          <li><a href="#">Matías Quiroga<i class="icon ion-social-linkedin"></i></a></li>
                          <li><a href="#">Alejandro I. Godino<i class="icon ion-social-linkedin"></i></a></li>
                          <li><a href="#">Lucas L. Guaymas<i class="icon ion-social-linkedin"></i></a></li>
                      </ul>
                  </div>
                 
                  <div class="col-lg-3 item social d-flex justify-content-center"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a>

                  </div>
                  <p class="copyright text-end">© 2022 Madalu. Es una marca registrada.</p>
              </div>
          </div>
      </footer>
  </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
      crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./js/main.js"></script>

  </div>
</body>

</html>